<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peethr.wsbtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presenters.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.MainActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.AlertService" />

        <activity
            android:name=".presenters.EventDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.MapActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>
        <activity
            android:name=".presenters.HoursActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"/>
        <activity
            android:name=".presenters.SelectLanguage"
            android:screenOrientation="portrait" />
        <activity android:name=".presenters.PlacesActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".presenters.PlaceDescription"
            android:screenOrientation="portrait" />
        <activity android:name=".presenters.CareerActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".presenters.CareerEventDescription"
            android:screenOrientation="portrait"/>
    </application>

</manifest>